@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-background: #150e12;
  --foreground: #ffffff;
  --digit-height: 40px;
  --orbit-border: 2px solid rgba(255, 255, 255, 0.2);
}

body {
  background: var(--page-background);
  color: var(--foreground);
  font-family: var(--font-open-sans);
}

.hero-text {
  background: linear-gradient(160deg, #ffffff, #5f5f62);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
}

.project-title-text {
  background: linear-gradient(100deg, #ffffff, #5f5f62);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
}

.project-description-text {
  background: linear-gradient(100deg, #ffffff, #5f5f62);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.digit {
  background: rgb(228, 228, 228);
  height: var(--digit-height);
  overflow: hidden;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4),
    inset 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 30px;
}

.digit-tape-container {
  width: 100%;
}

.digit-tape-digit {
  width: 100%;
  height: var(--digit-height);
  line-height: var(--digit-height);
  text-align: center;
  font-size: 1.2rem;
  color: black;
}

.digit-1 {
  transform: translateY(calc(var(--digit-height) * 0));
  transition-delay: 0.05s;
  transition: transform 0.5s ease-in-out;
}

.digit-2 {
  transform: translateY(calc(var(--digit-height) * -1));
  transition-delay: 0.1s;
  transition: transform 0.5s ease-in-out;
}

.digit-3 {
  transform: translateY(calc(var(--digit-height) * -2));
  transition-delay: 0.15s;
  transition: transform 0.5s ease-in-out;
}

.digit-4 {
  transform: translateY(calc(var(--digit-height) * -3));
  transition-delay: 0.2s;
  transition: transform 0.5s ease-in-out;
}

.digit-5 {
  transform: translateY(calc(var(--digit-height) * -4));
  transition-delay: 0.25s;
  transition: transform 0.5s ease-in-out;
}

.digit-6 {
  transform: translateY(calc(var(--digit-height) * -5));
  transition-delay: 0.3s;
  transition: transform 0.5s ease-in-out;
}

.digit-7 {
  transform: translateY(calc(var(--digit-height) * -6));
  transition-delay: 0.35s;
  transition: transform 0.5s ease-in-out;
}

.digit-8 {
  transform: translateY(calc(var(--digit-height) * -7));
  transition-delay: 0.4s;
  transition: transform 0.5s ease-in-out;
}

.digit-9 {
  transform: translateY(calc(var(--digit-height) * -8));
  transition-delay: 0.45s;
  transition: transform 0.5s ease-in-out;
}

.digit-0 {
  transform: translateY(calc(var(--digit-height) * -9));
  transition-delay: 0.5s;
  transition: transform 0.5s ease-in-out;
}

.star {
  mix-blend-mode: color-dodge;
  position: absolute;
}

.star-blink-1 {
  animation: blink-1 2s infinite alternate;
}

.star-blink-2 {
  animation: blink-2 2s infinite alternate;
}

.star-blink-3 {
  animation: blink-3 2s infinite alternate;
}

@keyframes blink-1 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes blink-2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes blink-3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

.star-sm {
  width: 5px;
  height: 5px;
}

.star-md {
  width: 7px;
  height: 7px;
}

.star-lg {
  width: 10px;
  height: 10px;
}

.star img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.star-container {
  background: var(--page-background);
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.falling-star {
  opacity: 0;
  position: absolute;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
  animation: falling-star-animation 3s linear infinite;
}

.falling-star::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes falling-star-animation {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}

.primary-button {
  color: var(--foreground);
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 100px;
  padding: 15px 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.primary-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.orbit-container {
  width: 1000px;
  height: 1000px;
  position: relative;
  margin: 0 auto;
  animation: orbit-container-fade-in 1s ease-out;
  transform-origin: center;
}

@keyframes orbit-container-fade-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.orbit-1 {
  width: 400px;
  height: 400px;
  background-color: transparent;
  border-radius: 99999px;
  border: var(--orbit-border);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -200px;
}

.orbit-2 {
  width: 550px;
  height: 550px;
  background-color: transparent;
  border-radius: 99999px;
  border: var(--orbit-border);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -275px;
  margin-top: -275px;
}

.orbit-3 {
  width: 700px;
  height: 700px;
  background-color: transparent;
  border-radius: 99999px;
  border: var(--orbit-border);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -350px;
}

.orbit-4 {
  width: 850px;
  height: 850px;
  background-color: transparent;
  border-radius: 99999px;
  border: var(--orbit-border);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -425px;
  margin-top: -425px;
}

.orbit-5 {
  width: 1000px;
  height: 1000px;
  background-color: transparent;
  border-radius: 99999px;
  border: var(--orbit-border);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -500px;
  margin-top: -500px;
}

.earth {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -200px;
}

@keyframes rotate {
  from {
    transform: rotate(var(--initial-rotation));
  }
  to {
    transform: rotate(calc(var(--initial-rotation) + 360deg));
  }
}

.section-container {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    var(--page-background) 50%,
    var(--page-background) 100%
  );
}
