.planet1 {
  --planet-size: 30px;
  --orbit-radius: 200px;
  --animation-speed: 10s;
  --initial-rotation: 100deg;
  background: linear-gradient(100deg, #ff69b4, #ffb6c1);
}

.planet2 {
  --planet-size: 50px;
  --orbit-radius: 275px;
  --animation-speed: 15s;
  --initial-rotation: 200deg;
  background: linear-gradient(100deg, #f5610f, #ff9104);
}

.planet3 {
  --planet-size: 40px;
  --orbit-radius: 350px;
  --animation-speed: 20s;
  --initial-rotation: 80deg;
  background: linear-gradient(100deg, #a7cf75, #627b34);
}

.planet4 {
  --planet-size: 60px;
  --orbit-radius: 425px;
  --animation-speed: 25s;
  --initial-rotation: 245deg;
  background: linear-gradient(100deg, #43387a, #ffffff);
}

.planet5 {
  --planet-size: 60px;
  --orbit-radius: 500px;
  --animation-speed: 30s;
  --initial-rotation: 59deg;
  background: linear-gradient(100deg, #007fff, #21ffc2);
}

.planet6 {
  --planet-size: 60px;
  --orbit-radius: 500px;
  --animation-speed: 30s;
  --initial-rotation: 10deg;
  background: linear-gradient(100deg, #ffa585, #ffeda0);
}

.planet {
  width: var(--planet-size);
  height: var(--planet-size);
  left: calc(50% - var(--planet-size) / 2 - var(--orbit-radius));
  top: calc(50% - var(--planet-size) / 2);
  position: absolute;
  transform-origin: calc(var(--orbit-radius) + var(--planet-size) / 2)
    calc(var(--planet-size) / 2);
  border-radius: 50%;
  animation: rotate var(--animation-speed) linear infinite;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet img {
  width: 60%;
  height: 60%;
}

.planet:hover {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease-in-out;
}
